.gameObject {
  cursor: default;
  position: absolute;
  font-size: 40px;
  // left: 10%;
  // top: 40%;
  z-index: 4;
  margin-left: 2px;
  margin-top: -49px;
  transform: rotateZ(45deg) rotateX(-65deg) translateZ(50px);
}
